{%  extends "minetestdb/base.html" %}

{%  block content %}
    <div class="container">
        Welcome to the Minetest Content Database!!!
    </div>
    <div class="container">
        This site is intended to provide an organised way to search for minetest related content. Currently this is in
        an alpha state as it is being developed. I, SonosFuer, am working on this project learning python and django
        inbetween school and work so progress will be slow. I would love any comments, suggestions, or help developing
        this. I am working with github and you can view the project over here https://github.com/apachano/minetestdb.
    </div>
{% endblock %}