{%  extends "minetestdb/base.html" %}

{% block title %}MTCD Servers{% endblock %}

{%  block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% if user.is_authenticated %}
                    <a href="{% url 'servers:new' %}">
                        <button type="button" class="btn btn-default">Create a new server posting</button>
                    </a><br><br>
                {%  endif %}
                <form action="." method="post">
            	{% csrf_token %}
                    {% comment %}
						<div class="form-group">
	                        <div class="panel panel-default">
	                            <div class="panel-heading">Sort By:</div>
	                            <div class="panel-body">
	                                <div class="dropdown">
	                                    <select class="form-control" id="sort" name="sort">
	                                        <option>Oldest</option>
	                                        <option>Newest</option>
	                                        <option>Most Stars</option>
	                                        <option>????</option>
	                                    </select>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
					{% endcomment %}
                    {% for ftypename, ftype in filters.items %}
                        {% if ftype %}
                            <div class="form-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">{{ ftypename }} </div>
                                    <div class="panel-body">
                                        {% for filter in ftype %}
                                            <div class="checkbox">
                                                <label>
													{% with strid=filter.id|stringformat:"i" %}
														{% with identifier=ftypename|add:strid %}
															<input
																type="checkbox"
		                                                    	name="{{ identifier }}"
		                                                        {% if identifier in post.keys %}
		                                                        	checked="checked"
		                                                        {% endif %}
		                                                	>
															{{ filter }}
														{% endwith %}
													{% endwith %}
												</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input type="submit" class="btn btn-default" value="Apply Filters">
                </form>
            </div>
            <div class="col-sm-9">
                {% if servers %}
                    {% for server in servers %}

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{% url 'servers:detail' server.name %}">{{ server.name }}</a>
                                <span class="pull-right">{{ server.address }}</span>
                            </div>
                            <div class="panel-body">
                                <p>{{ server.description|truncatechars:250 }}</p>
                                    {%  for tag in server.tags.all %}
                                        <span class="label label-default">{{ tag }}</span>
                                    {% endfor %}

                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No servers are available.</p>
                {% endif %}
				{% comment %}
					{% for i, k in post.items %}
                    	{{ i }} and {{ k }} <br>
                	{%  endfor %}
				{% endcomment %}
            </div>
        </div>
    </div>
{% endblock %}
