{%  extends "minetestdb/base.html" %}

{%  block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <form>
                    {% for ftypename, ftype in filters.items %}
                        {%  if ftype %}
                            <div class="form-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">{{ ftypename }} </div>
                                    <div class="panel-body">
                                        {% for filter in ftype %}
                                            <div class="checkbox">
                                                <label><input type="checkbox">{{ filter }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
            <div class="col-sm-9">
                {% if current_server_list %}
                    {% for server in current_server_list %}

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{% url 'servers:detail' server.name %}">{{ server.name }}</a>
                            </div>
                            <div class="panel-body">
                                <p>{{ server.address }}</p>
                                <p>
                                    {%  for tag in server.tags.all %}
                                        [ {{ tag }} ]
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No servers are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}