{%  extends "minetestdb/base.html" %}

{%  block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>{{ user.username }}</h1></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Biography</div>
                <div class="panel-body" style="white-space: pre-wrap;">{{ user.profile.bio }}</div>
            </div>
            {% if user.profile.location %}
            <div class="panel panel-default">
                <div class="panel-heading">Location</div>
                <div class="panel-body">{{ user.profile.location }}</div>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Content</h1></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>if the user has content it will be displayed here</div>
                        </div>
                        <div class="col-sm-4">
                            <div>if the user has content it will be displayed here</div>
                        </div>
                        <div class="col-sm-4">
                            <div>if the user has content it will be displayed here</div>
                        </div>
                        <div class="col-sm-4">
                            <div>if the user has content it will be displayed here</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Stars</div>
                <div class="panel-body">
                    <h4>Mods</h4>
                {% if user.profile.stared_mods.all %}
                    {%  for mod in user.profile.stared_mods.all %}
                        <div><a href="{% url 'mods:detail' mod.name %}">{{ mod.name }}</a></div>

                    {% endfor %}
                {% else %}
                    You don't have any mods stared yet
                {% endif %}
                    <h4>Servers</h4>
                {% if user.profile.stared_servers.all %}
                    {%  for server in user.profile.stared_servers.all %}
                        <div><a href="{% url 'mods:detail' server.name %}">{{ server.name }}</a></div>
                    {% endfor %}
                {% else %}
                    You don't have any servers stared yet
                {% endif %}
                </div>
            </div>
        </div>
</div>

{%  endblock %}