{%  extends "minetestdb/base.html" %}

{%  block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>{{ duser.username }}</h1></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Biography</div>
                <div class="panel-body" style="white-space: pre-wrap;">{{ duser.profile.bio }}</div>
            </div>
            {% if user.profile.location %}
            <div class="panel panel-default">
                <div class="panel-heading">Location</div>
                <div class="panel-body">{{ duser.profile.location }}</div>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Content</h1></div>
                <div class="panel-body">
                    <div class="row">
                        {% for server in servers %}
                        <div class="col-sm-4">
                            <div>Server</div>
                            <div><a href="{% url 'servers:detail' server.name %}">{{ server.name }}</a></div>
                        </div>
                        {% endfor %}
                        {% for mod in mods %}
                        <div class="col-sm-4">
                            <div>Mod</div>
                            <div><a href="{% url 'mods:detail' mod.name %}">{{ mod.name }}</a></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Stars</div>
                <div class="panel-body">
                    <h4>Mods</h4>
                {% if duser.profile.stared_mods.all %}
                    {%  for mod in duser.profile.stared_mods.all %}
                        <div><a href="{% url 'mods:detail' mod.name %}">{{ mod.name }}</a></div>

                    {% endfor %}
                {% else %}
                    You don't have any mods stared yet
                {% endif %}
                    <h4>Servers</h4>
                {% if duser.profile.stared_servers.all %}
                    {%  for server in duser.profile.stared_servers.all %}
                        <div><a href="{% url 'servers:detail' server.name %}">{{ server.name }}</a></div>
                    {% endfor %}
                {% else %}
                    You don't have any servers stared yet
                {% endif %}
                </div>
            </div>
        </div>
</div>

{%  endblock %}